@font-face {
  font-family: "main";
  src: url("./../public/fonts/3e3cf2ee9aa3f174-s.p.woff2");
}

:root {
  font-family: "main";
  font-size: 1em;
  overflow-x: hidden;
}

body {
  background: radial-gradient(
    circle at top,
    #202030 0%,
    #202030 10%,
    #0a0a0a 90%
  );
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 10vh;
  position: sticky;
  top: 0;
  width: 100%;
  margin-top: 1rem;
  animation: enhance-header linear both;
  animation-timeline: scroll(root);
  animation-range: 0 100px;
  z-index: 3;
}

@keyframes enhance-header {
  to {
    background-color: black;
    opacity: 0.8;
  }
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

header nav a:hover {
  color: white;
  cursor: pointer;
}

header nav a {
  text-decoration: none;
  color: lightgray;
  transition-duration: 200ms;
  transition-property: background-color, scale;
  transition-timing-function: cubic-bezier(0, 1.77, 0, 0.93);
}

header nav a.active {
  color: white;
}

header input {
  border-radius: 0.3rem;
  outline: none;
  height: 40%;
  background-color: black;
  width: 15%;
  color: white;
  padding: 1rem 0.3rem;
  border: 1px dotted gray;
}
header input::placeholder {
  color: lightgrey;
  color: white;
}

.logo {
  font-size: 3rem;
  font-weight: 600;
}

.main-poster::before {
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url("./../public/media/mainImage.jpg");
  position: absolute;
  aspect-ratio: 29/15;
  z-index: -1;
  margin: auto;
  background-size: cover;
  height: 93%;
  width: 90%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  z-index: 1;
}

#myCarousel {
  margin-top: 3rem;
}

#corouselBest {
  margin: 0;
}

.img-card {
  max-height: 400px;
  max-width: 200px;
  border-radius: 0.5rem;
}
.card-carousel {
  padding: 10px;
}

.carousel-box {
  left: 10% !important;
}
.center-carousel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 95vh;
  align-items: end;
  margin-left: 5%;
  margin-top: -3rem;
  z-index: 2;
}
.expand.center-carousel {
  z-index: 1;
  height: 50vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  align-items: center;
  border: 0;
  max-width: 90vw !important;
}
.carousel-section {
  padding: 0 4.5%;
}
.expand .control {
  margin-bottom: 0;
}

section {
  color: white;
}

.expand .img-card {
  max-height: 200px;
}
.expand .carousel-box {
  left: 5% !important;
  background-color: red;
  align-self: center;
  overflow: visible;
}
.control {
  position: relative !important;
  margin-bottom: 15%;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }

  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next,
  .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(25%) !important;
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }

  .carousel-item-next.carousel-item-start,
  .active.carousel-item-end {
    transform: translateX(0) !important;
  }

  .carousel-inner .carousel-item-prev,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }
}

.navbar-phone {
  display: none;
  z-index: 5;
}

@media (max-width: 500px) {
  header {
    display: none;
  }
  .navbar-phone {
    display: block;
    color: white;
  }
}
