@font-face {
  font-family: "main";
  src: url("./../public/fonts/3e3cf2ee9aa3f174-s.p.woff2");
}

:root {
  font-family: "main";
  font-size: 1em;
  overflow-x: hidden;
  --display-poster: block;
}

body {
  background: radial-gradient(
    circle at top,
    #202030 0%,
    #202030 10%,
    #0a0a0a 90%
  );
}

.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 10vh;
  position: sticky;
  top: 0;
  width: 100%;
  margin-top: 0;
  animation: enhance-header linear both;
  animation-timeline: scroll(root);
  animation-range: 0 100px;
  z-index: 3;
  background-color: black !important;
}

.light {
  color: white !important;
}

.navbar-toggler-icon {
  background-color: white;
  border-radius: 0.2rem;
}

@keyframes enhance-header {
  from {
    background-color: black !;
    opacity: 1;
  }
  to {
    background-color: black;
    opacity: 0.8;
  }
}

.header-top nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 5%;
}

header nav a:hover {
  color: white;
  cursor: pointer;
}

header nav a {
  text-decoration: none;
  color: lightgray;
  transition-duration: 200ms;
  transition-property: background-color, scale;
  transition-timing-function: cubic-bezier(0, 1.77, 0, 0.93);
}

header nav a.active {
  color: white;
}

header input {
  border-radius: 0.3rem;
  outline: none;
  height: 40%;
  background-color: black;
  width: 15%;
  color: white;
  padding: 1rem 0.3rem;
  border: 1px dotted gray;
}
header input::placeholder {
  color: lightgrey;
  color: white;
}

.logo {
  font-size: 3rem;
  font-weight: 600;
}

.main-poster::before {
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url("./../public/media/mainImage.jpg");
  position: absolute;
  aspect-ratio: 29/15;
  z-index: -1;
  margin: auto;
  background-size: cover;
  height: 93%;
  width: 90%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  z-index: 1;
  display: var(--display-poster);
}

section {
  margin-top: 2%;
  color: white;
}

#navbarNav {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#formMovie {
  border: 2px solid lightgray;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#section-best {
  margin: 200px auto;
  margin-top: 450px;
  width: 96.5vw;
}

.item {
  cursor: grabbing;
}

#main-carousel {
  margin: auto auto;
  margin-top: 40vh;
  height: 10vh;
  width: 66vw;
  background-color: red !important;
}

.camera {
  position: fixed;
  top: 15%;
}
.content {
  background-image: url("./../public/media/redTape.png");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 5% 25% 5% 12%;
  position: relative;
  right: 0;
  margin-top: -3%;
  width: 50vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.content img {
  border-radius: 0.5rem;
  width: 80%;
}

.container-tape {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: end;
}

.close-before {
  display: none !important;
  background-image: none !important;
}

#info-movie {
  display: none;
  height: 85vh;
}

.btn-exit {
  color: white;
  background-color: transparent;
  border-radius: 50%;
  margin-left: 10%;
  font-size: 3em;
  height: 6rem;
  width: 6rem;
}

.btn-exit:hover {
  color: white;
  background-color: rgb(77, 75, 75, 0.5);
}

.movie-full {
  padding: 0 4%;
  margin: 0 auto;
  justify-content: space-between;
  width: 60vw;
  gap: 6%;
}

.movie-full h4 {
  text-wrap: balance;
  color: #ffd700;
  font-size: 2em;
  font-weight: bolder;
}

.movie-full img {
  border-radius: 0.5rem;
}

.movie-full p {
  color: lightgray;
}
